# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.cs]
indent_style = tab
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true

csharp_indent_switch_labels = false

[*.{tt,ttinclude}]
insert_final_newline = false
