<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<targets>
		<!-- Config log to file -->
		<target xsi:type="File"
		        name="logfile"
		        encoding="utf-8"
		        fileName="${currentdir}/logs/ts3audiobot_${cached:${date:format=yyyy-MM-dd_HH_mm_ss}}.log"
		        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${mdlc:item=BotId}|${callsite:includeNamespace=false} ${message}${onexception:${newline}${exception:format=tostring}}" />
		<!-- Config log to console -->
		<target xsi:type="ColoredConsole"
		        name="console"
		        encoding="utf-8"
		        layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${mdlc:item=BotId}| ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
		</target>
	</targets>

	<rules>
		<logger name="TS3AudioBot.*" minlevel="Info" writeTo="logfile" />
		<logger name="TS3AudioBot.*" minlevel="Info" writeTo="console" />
		<logger name="TSLib.*" minlevel="Info" writeTo="logfile" />
		<logger name="TSLib.*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
