// main: styles.less

.botFlex {
	.flex();

	flex-wrap: wrap;
	//flex-direction: row;
	//align-content: stretch;
	align-items: stretch;
	justify-content: center;
}

.botCard {
	min-width: 20em;
	//padding: 1em;
	height: 8em;
	//flex-grow: 1;

	&:hover {
		background-color: lighten(@backgroundcolor3, 10%);
	}
}

.botRunning {
	.formheader {
		color: lime;
	}
}
