// main: styles.less

.modal_main {
    display: block;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top:  0;
    bottom: 0;
}

.modal_background {
    display: block;
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top:  0;
    bottom: 0;

    opacity: 0.5;
    background-color: gray;
}

.modal_content {
    display: block;
    position: absolute;
    z-index: 102;
    left: 25%;
    right: 25%;
    top:  2em;
}