// out: ../out/styles.css

@import "styles_authbox";
@import "styles_button";
@import "styles_error";
@import "styles_formbox";
@import "styles_history";
@import "styles_input";
@import "styles_modalbox";
@import "styles_playcontrols";
@import "page_bots";
@import (inline) "pure/grids.css";
@import (inline) "pure/grids-responsive.css";

@backgroundcolor1: #000a12;
@backgroundcolor2: #263238;
@backgroundcolor3: #4f5b62;
@foregroundcolor1: #E95147;
@foregroundcolor2: #B0171F;
@foregroundcolor3: #790000;
@contrastcolor1: #B2B2B2;
@default-border-radius: 3px;
@shadow: 1px 1px 8px 0px @backgroundcolor1;
@shadow-weak: 1px 1px 4px 0px @backgroundcolor1;
@font-size1: 100%;
@font-size2: @font-size1 * 1.2;

html, body {
	.stretchmax();
	background-color: @backgroundcolor2;
	color: @foregroundcolor1;
	margin: 0;
	padding: 0;
	font-family: Verdana, FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
	font-size: @font-size1;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

h1 {
	text-align: center;
	margin: 0;
}

h2 {
	text-align: center;
}

header {
	color: white;
	z-index: 1;
	background-color: @backgroundcolor1;
	//box-shadow: 0 0 10px 0 @backgroundcolor1;
}

nav {
	background-color: @foregroundcolor2;
	height: 100%;
	width: 12em;
	overflow-y: auto;
	overflow-x: auto;
	border-right: 1px darken(@foregroundcolor2, 10%) solid;
}

section {
	overflow-y: auto;
	overflow-x: auto;
	flex-grow: 1;
	position: relative;
}

footer {
	color: white;
	background-color: @backgroundcolor1;
	//box-shadow: 0 0 10px 0 @backgroundcolor1;

	> * {
		padding-left: 0.3em;
	}

	.footerIcon {
		width: 1em;
		height: 1em;
	}
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0.3em 0;
	padding: 0;
}

a, a:hover, a:active, a:focus {
	outline: none;
}

.mainframe {
	flex-direction: column;
	width: 100%;
}

.jslink {}

.flowright {
	display: flex;
	justify-content: flex-end;

	> *:last-child {
		margin-right: 0.5em;
	}
}

.unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.stretchmax {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
}

.flexmax {
	flex: 1;
}

.flex2 {
	.flex();

	&>*:first-child {
		.flexmax();
		padding-right: 0.5em;
	}
}

.flexhorizontal {
	flex-direction: row;
}

.flexvertical {
	flex-direction: column;
}

.hidden {
	display: none;
}