// main: styles.less

input[type="range"] {
    margin: 0;
}

.playblock1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.playblock2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playblock3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.timelabel {
    margin: 0em 1em;
}

.playdisabled {
    .button {
        pointer-events: none;
        background-color: gray;
    }

    input[type=range] {
        pointer-events: none;
    }

    input[type=range]::-moz-range-track {
        background: gray;
    }
}
