/* <pre> */

:root {
    --top-off: 80px;
    --left-off: 150px;
    --bot-off: 25px;
    --site-color: #B0171F;
    --shadow: 3px 3px 3px 0px #050505;
}

/*Unpad stuff here*/
html, body, header, nav, footer, section, label, .filledform {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background-color: #050505;
    color: #FF6103;
    height: 100%;
    width: 100%;
    position: relative;
}

h2 {
    text-align: center;
}

header {
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    height: var(--top-off);
    z-index: 15;
    cursor: default;
}

nav {
    top: 0;
    bottom: 0;
    width: var(--left-off);
    padding-top: var(--top-off);
    position: absolute;
    line-height: 2em;
    background-color: #050505;
    float: left;
    z-index: 10;
    font-family: Verdana;
}

section {
    top: var(--top-off);
    left: 0;
    bottom: var(--bot-off);
    right: 0;
    margin-left: var(--left-off);
    position: absolute;
    background-color: #202020;
    overflow-y: auto;
    overflow-x: auto;
    display: inline-block;
    z-index: 5;
}

footer {
    bottom: 0;
    height: var(--bot-off);
    width: 100%;
    color: white;
    clear: both;
    text-align: center;
    position: fixed;
    z-index: 10;
    cursor: default;
}

/* Common button apereance */

.button {
    background-color: var(--site-color);
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 10px 0px;
    width: 90%;
    display: inline-block;
    margin: 0px 5% 0.4em;
}

    .button:active {
        -moz-box-shadow: 0px 0px 2px 0px #050505;
        -webkit-box-shadow: 0px 0px 2px 0px #050505;
        box-shadow: 0px 0px 2px 0px #050505;
    }

    .button:hover {
        background-color: #ee745d;
        color: black;
    }

label {
    display: inline-block;
    clear: left;
    width: 40%;
    position: relative;
    text-align: right;
    float: left;
}

.unselectable, nav > a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ==================== HISTORY.HTML CONTROLS ======================*/

.splitleft, .splitright {
    width: 48%;
    position: relative;
    margin: 0em 1%;
}

.splitleft {
    float: left;
}

.splitright {
    float: right;
}

.filledform {
    display: inline-block;
    width: 55%;
    position: relative;
    border: 2px 2.5%;
    margin: 3px 0px;
}

fieldset {
    border-radius: 8px;
    border: 2px var(--site-color);
    border-style: solid none solid none;
    cursor: default;
}

legend {
    border: 1px solid var(--site-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px var(--site-color);
    position: relative;
    display: block;
    overflow: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 0.1em;
}

    th:not(:last-child):not(:first-child),
    td:not(:last-child):not(:first-child) {
        border-left: 1px solid var(--site-color);
        border-right: 1px solid var(--site-color);
    }

.fillwrap {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

#historylist > tbody > tr > td:nth-child(2) {
    text-align: right;
}

/* ==================== PLAY CONTROLS ======================*/

#playhandler {
    display: inline-block;
    min-width: 24em;
    width: 100%;
}

.linebox {
    display: inline-block;
    align-items: center;
    height: 3em;
    width: 33%;
    min-width: 12em;
    text-align: center;
    padding: 0px;
    margin: auto;
}

.rightbox {
    text-align: right;
}

.leftbox {
    text-align: left;
}

.fillbox {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.fillline {
    width: 80%;
    padding: 0em 10%;
    margin: 0em;
}

.playctrlbtn {
    padding: 0.3em 0.5em;
    display: inline;
    margin: 0em;
}

.playctrlplay {
    padding: 1em 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0em;
    border-radius: 50%;
}

/* ==================== SLIDER ======================*/

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        margin-top: -4px;
        border-radius: 50%;
        background: white;
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        margin-bottom: 4px;
        border-radius: 3px;
        box-shadow: var(--shadow);
        background: var(--site-color);
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        box-shadow: var(--shadow);
        background: var(--site-color);
    }

/* </pre> */
