/* <pre> */
/* ReSharper disable All */
.button {
  background-color: #B0171F;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 0px #050505;
  padding: 10px 0px;
  width: 90%;
  display: inline-block;
  margin: 0px 5% 0.4em;
  cursor: pointer;
}
.button:active {
  box-shadow: 0px 0px 2px 0px #050505;
}
.button:hover {
  background-color: #e7464f;
  color: black;
}
#playhandler {
  display: inline-block;
  min-width: 24em;
  width: 100%;
}
.linebox {
  display: inline-block;
  align-items: center;
  height: 3em;
  width: 33%;
  min-width: 12em;
  text-align: center;
  padding: 0px;
  margin: auto;
}
.rightbox {
  text-align: right;
}
.leftbox {
  text-align: left;
}
.fillbox {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.fillline {
  width: 80%;
  padding: 0em 10%;
  margin: 0em;
}
.playctrlbtn {
  padding: 0.3em 0.5em;
  display: inline;
  margin: 0em;
}
.playctrlplay {
  padding: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0em;
  border-radius: 50%;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 50%;
  background: white;
  box-shadow: 3px 3px 3px 0px #050505;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  margin-bottom: 4px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 0px #050505;
  background: #B0171F;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px 0px #050505;
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 0px #050505;
  background: #B0171F;
}
.splitbox {
  display: flex;
  flex-wrap: wrap;
}
.splitbox > * {
  width: 50%;
}
@media (max-width: 800px) {
  .splitbox > * {
    width: 100%;
  }
}
.searchform legend {
  border: 1px solid #B0171F;
}
.searchform label {
  display: inline-block;
  width: 40%;
  text-align: right;
}
.searchform input {
  display: inline-block;
  width: 55%;
  border: none;
  margin: 3px 0px;
}
fieldset {
  border-radius: 8px;
  border: 2px #B0171F;
  border-style: solid none solid none;
  cursor: default;
}
table {
  border-collapse: collapse;
  border: 1px #B0171F;
  overflow: auto;
}
th,
td {
  border-bottom: 1px solid #ddd;
  padding: 0.1em;
}
th:not(:last-child):not(:first-child),
td:not(:last-child):not(:first-child) {
  border-left: 1px solid #B0171F;
  border-right: 1px solid #B0171F;
}
.fillwrap {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
#historylist {
  display: table;
}
#historylist > tbody > tr > td:nth-child(2) {
  text-align: right;
}
.authbox {
  cursor: pointer;
}
.authbox > input {
  display: none;
}
.authbox .authboxform {
  background-color: #202020;
  top: 40px;
  right: 5px;
  display: none;
  position: absolute;
  min-width: 480px;
  min-height: 1em;
  box-shadow: -2px 2px 8px 0px #B2B2B2;
  padding: 8px 12px;
  z-index: 1;
  pointer-events: none;
}
.authbox .authboxform * {
  pointer-events: all;
}
.authbox .authboxform input {
  width: 100%;
}
.authbox input:checked ~ .authboxform {
  display: flex;
}
@keyframes openauth {
  from {
    background-color: #050505;
    border-radius: 0;
  }
  to {
    background-color: yellow;
    border-radius: 10px;
  }
}
@keyframes closeauth {
  from {
    background-color: yellow;
    border-radius: 10px;
  }
  to {
    background-color: #050505;
    border-radius: 0;
  }
}
.authbox input:not(:checked) ~ img {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  background-color: #050505;
  border-radius: 0;
  animation-name: closeauth;
}
.authbox input:checked ~ img {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  background-color: yellow;
  border-radius: 10px;
  animation-name: openauth;
}
html,
body {
  background-color: #050505;
  color: #FF6103;
  margin: 0;
  font-family: Verdana;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  text-align: center;
}
header {
  color: white;
  position: fixed;
  width: 100%;
  height: 40px;
}
nav {
  top: 40px;
  bottom: 25px;
  width: 150px;
  position: fixed;
  line-height: 2em;
  background-color: #050505;
}
section {
  top: 40px;
  left: 150px;
  bottom: 25px;
  right: 0;
  position: fixed;
  background-color: #202020;
  overflow-y: auto;
  overflow-x: auto;
  z-index: -1;
}
footer {
  bottom: 0;
  height: 25px;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
}
.maxheight {
  height: 100%;
}
.split3 {
  display: flex;
}
.split3bit {
  width: 33.3%;
  min-width: 0%;
}
.split3max {
  width: 100.0%;
  min-width: 0%;
}
.flowright {
  display: flex;
  justify-content: flex-end;
}
.flowright > * {
  margin-right: 0.5em;
}
.unselectable,
nav > a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
/* </pre> */
